@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url(./font/montserrat/Montserrat-Thin.otf);
}

@font-face {
    font-family: Montserrat-bold;
    src: url(./font/montserrat/Montserrat-Bold.ttf);
}

.container {
    margin: 0 auto;
    padding: 0px 20px;
    width: 100%;
    max-width: 1440px;
}

#mobile-nav {
    display: none;
}

.main_header {
    background-color: #21243d;
}

.header {
    display: none;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 25px;
}

.header ul li:last-child {
    margin-right: 35px;
}

.header ul li {
    list-style: none;
}

.search img {
    width: 80%;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.bar .fa-bars {
    color: #ffffff;
}

.mobile-header ul {
    padding: 0 0 10px 0;
}

.mobile-header ul li {
    list-style-type: none;
}

.mobile-header ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-family: Montserrat;
}

.mobile-header ul li:hover {
    background-color: #0000ff;
}

@media only screen and (min-width: 1024px) {
    .container {
        padding: 0 55px;
    }

    .header {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }

    .mobile-header {
        display: none;
    }
}